@import "tailwindcss";

/* body
{
    background-color: rgb(41, 39, 39);
}

h1, p
{
    color: rgb(151, 160, 159);
    text-align: center;
}

.bouton {
    display: block;
    margin: 0 auto;
    color: rgb(30, 210, 42);
    text-align: center;
    font-size: 2em;
    background-color: coral;
    border-radius: 1em 2em 1em 2em;
    padding: 1em;
    width: 20%;
    text-decoration: none;
} */